* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body { 
height: 100vh;
background-color: white;
font-family: "Hanken Grotesk";
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.both-cards {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  width: 600px;
  height: 405px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  gap: 1rem;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
    );
  }

.result h3 {
  color: hsl(241, 100%, 89%);
  margin-bottom: 13px;
  font-size: 1.3rem;
}


.result h2 {
  font-size: 2rem;
  color: white;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsl(256, 72%, 46%, 1),
    hsl(241, 72%, 48%, 0)
    );
  }

.circle h2 {
    font-size: 3.4rem;
    color: white;
    margin-top: 12px;
}

.circle h3 {
  font-size: .8rem;
  color: hsl(241, 79%, 77%);
}

.result p {
  color: hsl(241, 100%, 89%);
  width: 230px;

}

.summary {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem 1.5rem;
  gap: 1rem;
  }

.summary h2 {
  font-size: 1.3rem;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: .85rem;
}

.row-reaction, .row-memory, .row-verbal, .row-visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem 1rem;
  height: 2.8rem;
  }

.row-reaction {
  background-color: hsl(0, 62%, 96%);
}

.row-reaction p {
  color: hsl(0, 100%, 67%);
}

.row-memory {
  background-color: hsl(37, 100%, 97%);
}

.row-memory p {
  color: hsl(39, 100%, 56%);
}

.row-verbal {
  background-color: hsl(163, 100%, 97%);
}

.row-verbal p {
  color: hsl(166, 100%, 37%);
}

.row-visual {
  background-color: hsl(234, 100%, 98%);
}

.row-visual p {
  color: hsl(234, 85%, 45%);
}

.rows h3 {
  color: grey;
}

.rows b {
  color: hsl(224, 30%, 27%);
}

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.continue {
  padding: .9rem;
  border-radius: 2rem;
  background: hsl(224, 30%, 27%);
  border: none;
  cursor: pointer;
  color: white;
}

.continue h2 {
  font-size: 14px;
}

.continue:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.attribution { 
  text-align: center; 
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
  margin: 5px;
  margin-top: 0; 
}


@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .both-cards {
    flex-direction: column;
    height: 100%;
  }

  .result {
    width: 100%;;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .result p {
    width: 260px
  }

  .summary {
    width: 100%;

  }

  .attribution {
    display: block;
  }

}